body {
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 0px;
}

/* url input */
#iurl {
  border: none;
  width: auto;
  font-size: auto;
  background-color: rgba(236, 236, 236, 0);
  padding: 0px;
  text-align: left;
}

/* buttons */
#alloydefault,
#alloyframe {
  font-size: 14px;
  padding: 0px;
  border: none;
  width: auto;
  background-color: rgba(0, 0, 0, 0); /* Use RGBA to set transparency */
  text-align: none;
}
